header{
    grid-area: header;
}

main{
    grid-area: main;
    background-color: #d5eeff;
    padding-bottom: 80%;
    min-width: 680px;
    border-top: 50px solid #004445;
}

footer{
    grid-area: footer;
}

body{
    display: grid;
    grid-template-areas:
    'header header'
    'aside main'
    'footer footer';
}
