aside a{
    text-decoration: none;
}

header{
    grid-area: header;
}

aside{
    grid-area: aside;
    min-width: 150px;
    background-color: whitesmoke;
}

main{
    grid-area: main;
    background-color: rgb(245, 247, 247);
    padding-bottom: 80%;
    min-width: 680px;
}

footer{
    grid-area: footer;
}

body{
    display: grid;
    grid-template-areas:
    'header header'
    'aside main'
    'footer footer';
}