article{
    border: 1px solid gainsboro;
    width: 225px;
    margin-bottom: 31%;
    margin-left: 50%;
    margin-top: 10%;
    background-color: aliceblue;
    border-radius: 2%;
}

img{
    padding: 10px;
}

header{
    background-color: rgb(45, 45, 45);
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    border: thick double white;
}

main{
    font-size: 100%;
    float: left;
    margin-top: 15%;
    margin-left: 5%;
}

main a, main h2, main p {
    text-align: center;
}

a:hover{
    text-decoration: underline;
    color: rgb(68, 61, 61)
}
