header{
    text-align: center;
    background-color: #d5eeff;
}

aside{
    grid-area: aside;
    min-width: 150px;
    background-color: #53a8b6;
}

aside a{
    text-decoration: none;
    font-size: 0.95em;
    color: #8dc6ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    padding: 8px 16px;
    color: #004445;
    font-weight: bold;
}

li a:hover{
    color: white;
}

li:hover{
    background-color: #004445;
}

h1{
    font-family: system-ui;
}

h2{
    font-family: sans-serif;
    text-align: center;
}

p{
    font-family: system-ui;
}

footer{
    display: flex;
    background-color: #004445;
    color: white;
}

footer p{
    padding-right: 100px;
}

td{
    padding-right: 80px;
}

body{
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-color: #bbe4e9;
}

a:active{ /* quand on clique dessus */
    color: gray;
}
 
#container{
    background-color: #d5eeff;
}